.App {
  text-align: center;
}

.loading {
  display: none;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: 99;
  background-color: rgba(10,10,10,0.2);
}
.loading.loading__enable {
  display: block;
}
.loading svg {
  margin: 25% auto;
}